<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="API Router" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="PHP_via_FastCGI" />
      <add name="PHP_via_FastCGI"
           path="*.php"
           verb="GET,POST,DELETE,PUT,OPTIONS"
           modules="FastCgiModule"
           scriptProcessor="D:\Program Files\PHP\v8.2\php-cgi.exe"
           resourceType="Either"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>